/* TODO
* Create better buttons
* 
*/
.videoCall{
  background-image: url("http://www.intel.com/content/dam/image/Icons/Page_Types/Video-Content-Library-icon-64x64.png");
  background-size: 26px;
  background-repeat: no-repeat;
  height:26px;
  width: 24px;
}
.audioCall{
  background-image: url("http://mac2.microsoft.com/help/GetOpenContent.aspx?assetid=a8832db2-afaf-474a-abdc-92dfbc2f3378&locale=en-us&product=office&version=14");
  background-position-y:2px;
  background-repeat: no-repeat;
  background-size: 26px;
  height:26px;
  width: 20px;
}
.callOptions{
  cursor:pointer;  
}
.callOptions:hover{
  opacity:1;
}

#localVideo video{
  position:absolute;
  width:40%;
  top:30px;
  right:0px;
  z-index:3;
}
#localVideo video:hover{
  width:100%;
  right:0px;
}
#remotesVideos video{
  position:absolute;
  max-width:100%;
  top:30px;
  left:0px;
  z-index:1;
}
#hangUp{
  cursor:pointer;  
  position:absolute;
  top:100px; 
  left:0px;
  height:50px;
  z-index:2;
  opacity:.1;
  background-color:#000;
  width:100%;
  display:none;
  white-space:nowrap;
  font-size:51px;
  color:#fff;
}

#hangUp:hover{
  opacity:1;
  height:100px;
  top:50px;
  z-index:4;
}

.ep_rtc_form{
  margin-top:10px;
}
.ep_rtc_form input{
  padding:10px;
}
.ep_rtc_form button{
  padding:10px;
}
